<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta name="description" content="">
<meta name="author" content="">
<!--#settings project="sys" module="user" title="用户"--><!--#endsettings-->
<!--#with prefix="e" --><!--#endwith-->
<title go:title="/title.html">{%title%}</title>
<!--#include file="/layout/include/head.html"--><!--#endinclude-->

<script type="text/javascript" go:src="{%statics%}/home/js/home.js?{%ver%}"></script>
</head>
<body>
<!--#include file="/layout/include/header.html" param="{%project%}"--><!--#endinclude-->
<div class="container-fluid">
<div class="content" class="row-fluid">
	<div class="tabbable">
		<ul id="{%.prefix%}NavTabs" class="nav nav-tabs dn" >
			<li class="active">
				<a href="#e-info" data-toggle="tab">个人信息</a>
			</li>
			<li>
				<a href="#e-passwd" data-toggle="tab">修改密码</a>
			</li>
		</ul>
		<div class="tab-content">
			<!--#include file="/ui/include/alert.html" param="{%.prefix%}-info"--><!--#endinclude-->
			<div id="{%.prefix%}-info" class="tab-pane active">
			</div>
			<script id="{%.prefix%}-info-template" type="text/x-handlebars-template">
				<br/>
				<div class="form-group">
					<label class="control-label">登录名：</label>
					<div>
						<input class="form-control" readonly="true" value="{{loginName}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">名称：</label>
					<div>
						<input class="form-control" readonly="true" value="{{name}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">登录时间：</label>
					<div>
						<input class="form-control" readonly="true" value="{{uyymdhms loginTime}}">
					</div>
				</div>
			</script>
			<div id="{%.prefix%}-passwd" class="tab-pane">
				<form id="eFormPasswd" role="form" method="post" go:action="{%apis%}/sys/user/repwd">
					<br/>
					<!--#include file="/ui/include/alert.html" param="{%.prefix%}Form"--><!--#endinclude-->
					<div class="form-group">
						<label class="control-label">*旧密码：</label>
						<div>
							<input type="password" class="form-control" id="oldPasswd" name="oldPasswd" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">*新密码：</label>
						<div>
							<input type="password" class="form-control" id="newPasswd" name="newPasswd">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">*确认新密码：</label>
						<div>
							<input type="password" class="form-control" id="okPasswd" name="okPasswd">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">保存</button>
					<button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!--#include file="/layout/include/footer.html"--><!--#endinclude-->
</div>
</body>
</html>
