<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="{{statics}}/favicon.ico">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="{{statics}}/lib/html5shiv/html5shiv.min.js"></script>
<script src="{{statics}}/lib/respond.js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="{{statics}}/lib/react/react.min.js"></script>
<script type="text/javascript" src="{{statics}}/lib/react-dom/react-dom.min.js"></script>
<script type="text/javascript" src="{{statics}}/lib/babel-core/browser.min.js"></script>
<script type="text/javascript" src="{{statics}}/lib/material-ui/app.min.js"></script>
<script type="text/javascript">
	var apis = "{{apis}}";
	var assets = "{{assets}}";
	var statics = "{{statics}}";
	var developers = "{{developers}}";
	var operations = "{{operations}}";
	var uploads = "{{uploads}}";
</script>