<script type="text/javascript">
	$(function(){
		$("#header").permission();
		var winUrl = $.url();
		var project=winUrl.param("project");
		if($.isNotBlank(project)){
			var headerMenu="#header_"+project;
			$(headerMenu).addClass("active");
		}
		$("#loginName").html($.getLoginName());
	});
</script>
<div id="header" class="navbar navbar-default navbar-fixed-top dn" role="navigation">
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" go:href="/home.html?{%ver%}">GOYY</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="header_sys" go:data-permissions="sys:menu:view,sys:post:view,sys:role:view,sys:area:view,sys:org:view,sys:user:view,sys:dict:view,sys:cache:view," class="{%if eq .param 'sys'%}active {%end%}dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">SYS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li data-permissions="sys:menu:view"><a go:href="/sys/menu/menu.html?{%ver%}">MENU manage</a></li>
							<li data-permissions="sys:post:view"><a go:href="/sys/post/post.html?{%ver%}">POST manage</a></li>
							<li data-permissions="sys:role:view"><a go:href="/sys/role/role.html?{%ver%}">ROLE manage</a></li>
							<li data-permissions="sys:area:view,sys:org:view,sys:user:view" class="divider"></li>
							<li data-permissions="sys:area:view"><a go:href="/sys/area/area.html?{%ver%}">AREA manage</a></li>
							<li data-permissions="sys:org:view"><a go:href="/sys/org/org.html?{%ver%}">ORG manage</a></li>
							<li data-permissions="sys:user:view"><a go:href="/sys/user/user.html?{%ver%}">USER manage</a></li>
							<li data-permissions="sys:dict:view" class="divider"></li>
							<li data-permissions="sys:dict:view"><a go:href="/sys/dict/dict.html?{%ver%}">DICT manage</a></li>
							<li data-permissions="sys:cache:view" class="divider"></li>
							<li data-permissions="sys:cache:view"><a go:href="/sys/cache/cache.html?{%ver%}">CACHE manage</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a id="loginName" go:href="/home.html?{%ver%}">&nbsp;</a></li>
					<li><a href="/logout">exit</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>